.collection-page{   
   .list{
       display: grid;
       grid-template-columns: auto auto auto auto;
       grid-gap: 10px;
    //    flex-wrap: wrap;
    //    justify-content: space-between;
       .collection-item{
           margin-bottom: 20px;
       }       
   }
}